/* RESETS */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
}

input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, textarea:-webkit-autofill, textarea:-webkit-autofill:hover, textarea:-webkit-autofill:focus, select:-webkit-autofill, select:-webkit-autofill:hover, select:-webkit-autofill:focus {
  -webkit-transition-delay: 99999s;
}


/* VARIABLES */

:root {
  --primary-text: #e6d5b8;
  --secondary-text: #f0a500;
  --bg-color: #4a3933;
  --accent-color: rgb(228, 88, 38);
  --grey: #3d3d3d;
}

html {
  height: 100%;
  color: var(--primary-text);
  font-family: 'Open Sans', sans-serif;
}

body {
  min-height: 100vh;
}

ul {
  list-style: none;
}

a {
  color: var(--primary-text);
  text-decoration: none;
  display: inline-block;
}


/* TYPOGRAPHY */

h1 {
  font-size: 4rem;
  font-weight: bold;
}

@media screen and (max-width: 400px) {
  h1 {
    font-size: 2.5rem;
  }
}

h2 {
  font-size: 3rem;
  font-weight: bold;
}


/* UTILITIES */

.container {
  width: 95%;
  max-width: 1300px;
  margin: 0 auto;
}

.hidden {
  display: none;
}

.element-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
}

.btn {
  outline: none;
  border: none;
  border-radius: 10px;
  padding: 1.2rem 0;
  font-size: 1.2rem;
  cursor: pointer;
}


/*GENERAL STYLES */

.content {
  min-height: 100vh;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
}

header {
  background-color: var(--bg-color);
  padding: 4rem 0 .5rem 0;
}

.logo {
  font-weight: 300;
  letter-spacing: 1px;
}

.logo-accent {
  font-weight: 700;
  color: var(--accent-color);
}


/* NAV STYLES */

.nav-wrapper {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.nav-main {
  display: flex;
  justify-content: flex-end;
}

.nav-main a {
  font-weight: 700;
}

.nav-main a:hover {
  color: var(--accent-color);
}

.nav-list {
  display: flex;
  justify-content: space-between;
}

.nav-item {
  font-size: 1.2rem;
  padding-left: 2rem;
}


/* BURGER MENU ON MEDIUM SCREENS */

.burger-menu {
  width: 40px;
  /* height: 40px; */
  display: none;
  z-index: 3;
  cursor: pointer;
}

.burger-bar {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 5px;
}


/* MEDIA QUERY FOR NAV ON MEDIUM AND SMALL SCREENS */

@media screen and (max-width: 770px) {
  header {
    padding: 2rem 0 .5rem 0;
  }
  .burger-menu {
    display: block;
    cursor: pointer;
  }
  .nav-main {
    background-color: tomato;
    width: 100%;
    max-width: 100%;
    height: 100vh;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    transform: translateX(100%);
    transition: transform .5s ease-out;
  }
  .nav-list {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .slide {
    transform: translateX(0);
  }
  .burger-move .top-line {
    transform: rotate(-45deg) translate(-5px, 6px);
  }
  .burger-move .middle-line {
    opacity: 0;
  }
  .burger-move .bottom-line {
    transform: rotate(45deg) translate(-5px, -6px);
  }
}


/* HERO SECTION */

main {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.2)), url(../images/hero-img-burger-fries.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (max-width: 770px) {
  main {
    background-position-x: 75%;
  }
}


/* LOGIN FORM */

#login {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form-wrapper {
  padding: 2rem 4rem;
  background-color: var(--grey);
  border-radius: 10px;
}

.login-form-wrapper h1 {
  margin-bottom: 1.5rem;
  font-size: 3rem;
  font-weight: 300;
}

.form-group {
  margin-bottom: 1.3rem;
}

.login-form input[type=text], .login-form input[type=password] {
  display: block;
  outline: none;
  border: none;
  background-color: var(--grey);
  color: var(--primary-text);
  border-left: 1px solid var(--primary-text);
  border-bottom: 1px solid var(--primary-text);
  font-size: 1.2rem;
  padding: .5rem 1rem;
}

.login-form input[type=text]:focus, .login-form input[type=text]:active, .login-form input[type=password]:focus, .login-form input[type=password]:active {
  background-color: var(--bg-color);
  color: var(--primary-text);
}

.login-form-label {
  display: block;
  margin-bottom: .75rem;
  font-size: 1.2rem;
}

.btn-login {
  background-color: var(--accent-color);
  color: var(--primary-text);
  width: 100%;
  font-size: 1.8rem;
  transition: all .3s ease-in;
}

.btn-login:hover {
  background-color: rgba(228, 88, 38, 0.7)
}

@media screen and (max-width: 770px) {
  .login-form-wrapper {
    padding: 2rem 1rem;
  }
  .login-form-wrapper h1 {
    margin-bottom: 1.5rem;
    font-size: 2rem;
  }
}


/* FOOTER SECTION */

footer {
  background-color: var(--bg-color);
  text-align: center;
  padding: 1rem 0;
}

footer p {
  margin: .5rem 0;
}
